html {
  font-size: 10px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 12px; }
  body.active {
    overflow: hidden; }

input::-webkit-input-placeholder {
  color: #000000; }

input::-moz-placeholder {
  color: #000000; }

input:-moz-placeholder {
  color: #000000; }

input:-ms-input-placeholder {
  color: #000000; }

a {
  text-decoration: none;
  color: #000000; }

p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }
  .container--small {
    width: 880px;
    margin: 0 auto; }
    @media screen and (max-width: 1200px) {
      .container--small {
        width: 650px; } }
    @media screen and (max-width: 820px) {
      .container--small {
        width: 430px; } }
    @media screen and (max-width: 525px) {
      .container--small {
        width: 100%;
        padding: 0 16px; } }
  @media screen and (max-width: 1200px) {
    .container {
      max-width: 800px; } }
  @media screen and (max-width: 820px) {
    .container {
      max-width: 100%;
      padding: 0 16px; } }

.button {
  background-color: #f1df5e;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px; }
  .button:hover {
    background-color: #ebd118; }
    @media screen and (max-width: 525px) {
      .button:hover {
        background-color: #f1df5e; } }

.overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none; }
  .overlay.active {
    display: block; }

.menuButton {
  margin-right: 15px;
  display: none; }
  .menuButton span {
    background-color: #000000;
    display: block;
    height: 2px;
    width: 18px;
    margin-bottom: 3px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .menuButton.activeButton {
    z-index: 10;
    position: fixed; }
    .menuButton.activeButton .topLine {
      -webkit-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg); }
    .menuButton.activeButton .middleLine {
      -webkit-transform: scale(0);
      transform: scale(0); }
    .menuButton.activeButton .bottomLine {
      -webkit-transform: translateY(-5px) rotate(-45deg);
      transform: translateY(-5px) rotate(-45deg); }
  @media screen and (max-width: 525px) {
    .menuButton {
      display: block; } }

@media screen and (max-width: 525px) {
  .mobileHide {
    display: none; } }

.header {
  letter-spacing: 1px; }
  @media screen and (max-width: 525px) {
    .header {
      border-bottom: 1px solid #dcdcdc; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 440px) {
      .header__top {
        padding: 20px 0; } }
  .header__bottom {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 15px 0 20px; }
    @media screen and (max-width: 525px) {
      .header__bottom {
        border: none;
        padding: 0; } }
  .header__logo {
    display: inline-block;
    font-size: 0;
    margin-right: 20px; }
    @media screen and (max-width: 525px) {
      .header__logo {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 0; } }
    @media screen and (max-width: 440px) {
      .header__logo > img {
        width: 86px; } }
  @media screen and (max-width: 820px) {
    .header__categories {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; } }
  @media screen and (max-width: 525px) {
    .header__categories {
      display: none; } }
  .header__category {
    font-size: 12px;
    margin: 0 10px;
    text-transform: uppercase;
    position: relative; }
    .header__category::after {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: #000000;
      opacity: 0; }
    .header__category:hover {
      font-weight: 600; }
      .header__category:hover::after {
        content: "";
        opacity: 1; }
  .header__search {
    background: #ededed url("../img/search.svg") no-repeat 20px 50%;
    border: none;
    outline: none;
    max-width: 766px;
    width: 100%;
    padding: 1.5rem 2rem 1.5rem 4.4rem;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 4px; }
    .header__search:focus {
      background: none;
      border: 1px solid #000000;
      padding-left: 20px; }
    @media screen and (max-width: 1200px) {
      .header__search {
        max-width: 300px; } }
    @media screen and (max-width: 820px) {
      .header__search {
        max-width: 200px; } }
    @media screen and (max-width: 690px) {
      .header__search {
        display: none; } }
  .header__register {
    cursor: pointer;
    position: relative; }
  .header__login {
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px 10px 13px 30px;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0); }
    .header__login:hover {
      border: 1px solid black; }
    @media screen and (max-width: 440px) {
      .header__login {
        display: none; } }
  .header__icon {
    width: 16px;
    height: 14px;
    margin: 0 10px;
    display: none; }
    @media screen and (max-width: 440px) {
      .header__icon {
        display: inline-block; } }
    .header__icon--men {
      display: inline-block;
      position: absolute;
      top: 1px; }
      @media screen and (max-width: 440px) {
        .header__icon--men {
          position: static; } }
    .header__icon--basket {
      margin-right: 0; }
  .header__sales {
    font-size: 9px;
    display: inline-block;
    vertical-align: top;
    display: none; }
    @media screen and (max-width: 440px) {
      .header__sales {
        display: inline-block; } }
  .header__basket {
    font-size: 0; }

.searchButton {
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat 0 0;
  display: none; }
  @media screen and (max-width: 690px) {
    .searchButton {
      display: inline-block; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  letter-spacing: 1px; }
  .menu.activeMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    width: 100%; }
    .menu.activeMenu li {
      margin-bottom: 20px; }
      .menu.activeMenu li a {
        font-size: 18px;
        margin-right: 0; }
  .menu li a {
    text-transform: uppercase;
    margin-right: 30px; }
    .menu li a:hover {
      color: #f82c4b;
      font-weight: 600; }
  @media screen and (max-width: 525px) {
    .menu {
      display: none; } }

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .delivery__title {
    margin: 50px 0 20px;
    font-size: 36px;
    font-weight: 600;
    padding: 0; }
    @media screen and (max-width: 525px) {
      .delivery__title {
        font-size: 26px;
        margin: 20px 0 15px; } }

.advantages {
  text-align: center;
  width: 100%; }
  .advantages__subtitle {
    font-size: 18px;
    line-height: 1.56;
    font-weight: normal;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1200px) {
      .advantages__subtitle {
        padding: 0 50px; } }
    @media screen and (max-width: 525px) {
      .advantages__subtitle {
        padding: 0; } }
  .advantages__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 55px 0; }
    @media screen and (max-width: 1200px) {
      .advantages__flex {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media screen and (max-width: 820px) {
      .advantages__flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 30px 0; } }
  .advantages__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    margin-top: 20px;
    display: block; }
  .advantages__item {
    text-align: center;
    margin: 20px 10px;
    max-width: 200px;
    width: 100%; }
    @media screen and (max-width: 820px) {
      .advantages__item {
        max-width: 150px; } }
    @media screen and (max-width: 440px) {
      .advantages__item {
        max-width: 134px;
        margin: 20px 0; } }
  .advantages__svg {
    height: 68px;
    width: 73px; }
    @media screen and (max-width: 440px) {
      .advantages__svg {
        height: 45px;
        width: 50px; } }

.more {
  padding: 25px 0;
  background-color: #ededed;
  width: 100%;
  text-align: center;
  font-size: 0; }
  @media screen and (max-width: 525px) {
    .more {
      margin-top: 10px; } }
  .more__inform {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0 0 20px; }
  .more__city {
    display: inline-block;
    padding: 13px 10px;
    max-width: 270px;
    width: 100%;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    text-align: left;
    font-family: 'IBM Plex Sans', Arial, sans-serif; }
    .more__city:focus {
      border: 1px solid #000000;
      outline: none; }
      @media screen and (max-width: 525px) {
        .more__city:focus {
          border-right: none; } }
    @media screen and (max-width: 820px) {
      .more__city {
        max-width: 200px; } }
    @media screen and (max-width: 525px) {
      .more__city {
        max-width: 160px;
        border-radius: 4px 0 0 4px;
        border-right: none; } }
  .more__button {
    margin-left: 10px; }
    @media screen and (max-width: 525px) {
      .more__button {
        margin: 0;
        padding: 15px 23px;
        letter-spacing: 0.86px;
        border-radius: 0 4px 4px 0; } }

.ways {
  margin-top: 60px; }
  @media screen and (max-width: 525px) {
    .ways {
      margin-top: 30px; } }
  .ways__header {
    padding: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase; }
  .ways__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px; }
    @media screen and (max-width: 1200px) {
      .ways__flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .ways__item {
    max-width: 420px;
    width: 100%;
    margin: 0 10px 20px; }
    @media screen and (max-width: 525px) {
      .ways__item {
        max-width: 269px; } }
  .ways__img {
    width: 420px; }
    @media screen and (max-width: 525px) {
      .ways__img {
        width: 269px; } }
  .ways__title {
    margin: 15px 0 10px;
    padding: 0;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600; }
  .ways__description {
    font-size: 14px;
    line-height: 1.43;
    display: block;
    margin-bottom: 5px; }
  .ways__benefits {
    font-size: 14px;
    line-height: 1.43;
    padding-left: 30px;
    display: inline-block;
    margin: 5px 0;
    background: url("../img/check.svg") no-repeat 6px 3px; }

.information {
  margin-top: 40px; }
  .information__title {
    margin-bottom: 25px;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600; }
  .information__item {
    cursor: pointer;
    position: relative;
    padding: 2rem 0;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc; }
    .information__item--active > .information__answer {
      display: block; }
    .information__item--active > .information__plus {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  .information__quest {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
    padding-right: 30px; }
  .information__answer {
    display: none;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5; }
  .information__plus {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 17px;
    height: 17px; }
  .information__button {
    margin: 30px 0 60px; }
    @media screen and (max-width: 525px) {
      .information__button {
        letter-spacing: 0.86px;
        margin-bottom: 20px 0 40px; } }

.partners {
  padding: 55px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc; }
  @media screen and (max-width: 525px) {
    .partners {
      padding: 25px 0 40px; } }
  .partners__title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center; }
  .partners__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -10px 45px; }
    @media screen and (max-width: 1200px) {
      .partners__flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px; } }
    @media screen and (max-width: 525px) {
      .partners__flex {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-bottom: 0; } }
  .partners__item {
    max-width: 199px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block; }
    @media screen and (max-width: 1200px) {
      .partners__item {
        margin-bottom: 10px; } }
    @media screen and (max-width: 820px) {
      .partners__item {
        max-width: 150px; } }
    @media screen and (max-width: 525px) {
      .partners__item {
        max-width: 75px; } }
  .partners__img {
    display: inline-block;
    width: 75px; }

.footer {
  padding: 55px 0;
  line-height: 1.5; }
  @media screen and (max-width: 690px) {
    .footer {
      padding: 20px 0;
      text-align: center; } }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      .footer__flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (max-width: 690px) {
      .footer__flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 690px) {
    .footer__wrap {
      text-align: left;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      margin-bottom: 50px; } }
  .footer__menu {
    display: inline-block; }
    .footer__menu li a {
      display: block;
      text-decoration: underline;
      padding-bottom: 5px; }
      .footer__menu li a:hover {
        text-decoration: none;
        color: #f82c4b; }
    .footer__menu--right {
      vertical-align: top; }
  .footer__title {
    padding: 0;
    margin: 0 0 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36; }

.contacts__top {
  margin-bottom: 20px; }

.contacts__address {
  display: block; }

.contacts__phone {
  display: block;
  font-weight: 600;
  padding: 5px 0; }
  .contacts__phone:hover {
    color: #f82c4b; }

.contacts__mail {
  text-decoration: underline; }
  .contacts__mail:hover {
    color: #f82c4b; }

.contacts__mode {
  font-weight: 600;
  font-size: 14px; }
  .contacts__mode--normal {
    font-weight: normal;
    font-size: 12px;
    display: block; }

@media screen and (max-width: 690px) {
  .contacts {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 20px; } }

.socials__item {
  display: inline-block;
  margin-right: 30px;
  -webkit-transition: all 0.2;
  transition: all 0.2; }
  .socials__item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  @media screen and (max-width: 690px) {
    .socials__item {
      margin: 0 15px; } }

.socials__svg {
  height: 18px; }
  .socials__svg--facebook {
    width: 9px; }
  .socials__svg--instagram {
    width: 18px; }
  .socials__svg--google {
    width: 28px; }
  .socials__svg--youtube {
    width: 23px; }

@media screen and (max-width: 690px) {
  .socials {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px; } }

.pay__inform {
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px; }
  .pay__inform:hover {
    color: #f82c4b; }

.pay__item {
  height: 18px;
  margin-right: 20px; }
  @media screen and (max-width: 690px) {
    .pay__item {
      margin: 0 10px; } }
  .pay__item--mastercard {
    width: 28px; }
  .pay__item--visa {
    width: 48px; }
  .pay__item--mir {
    width: 57px; }

@media screen and (max-width: 1200px) {
  .pay {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media screen and (max-width: 690px) {
  .pay {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 20px; } }
